<!-- templates/index.html -->
{% extends "layout.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Campus Equity Hub</h1>
        <p class="col-md-8 fs-4">The Campus Equity Hub is a web-based platform that is dedicated to 
            promoting collaboration and resource optimization. It serves as a platform where students can exchange, 
            donate, or borrow essential resources such as textbooks, electronics and dorm supplies.</p>
        {% if 'user_id' not in session %}
            <a href="{{ url_for('signup') }}" class="btn btn-primary btn-lg">Sign Up</a>
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary btn-lg">Login</a>
        {% else %}
            <a href="{{ url_for('dashboard') }}" class="btn btn-success btn-lg">Go to Dashboard</a>
        {% endif %}
    </div>
</div>
{% endblock %}