<!-- templates/dashboard.html -->
{% extends "layout.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome, {{ username }}!</h1>
        <p class="col-md-8 fs-4">You have successfully logged in. </p>
        <a href="{{ url_for('reset') }}" class="btn btn-danger btn-lg">Reset Database</a>
        <a href= "{{ url_for('logout') }}" class="btn btn-danger btn-lg">Logout</a>
        <a href="{{ url_for('add_item') }}" class="btn btn-outline-primary btn-lg">Add Item</a>
        <a href="{{ url_for('marketplace') }}" class="btn btn-outline-primary btn-lg">Marketplace</a>
        <a href="{{ url_for('apply_status') }}" class="btn btn-outline-primary btn-lg">Status Application</a>
        <a href="{{ url_for('application_approval') }}" class="btn btn-outline-primary btn-lg">Application Approval</a>
    </div>
</div>
{% endblock %}