<!-- templates/signup.html -->
{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Sign Up</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('signup_admin') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="campus" class="form-label">Campus</label>
                        <input type="campus" class="form-control" id="campus" name="campus" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                    <div class="d-grid mt-3">
                        <button type="button" class="btn btn-outline-primary" onclick="history.back()">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}